.search-form {
	&-wrapper {
		width: 17em;
		max-width: 100%;
	}

	&-input {
		outline: none;
		padding: 0.5em 1em;
		font-size: var(--font-size-h6);
		line-height: 1;
		border: 1px solid var(--color-base-invert);
		border-radius: var(--border-radius-large);
		width: 100%;
		background-color: var(--color-base-light);	
		
		&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: var(--color-base-invert);
			opacity: 1; /* Firefox */
		}
		  
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: var(--color-base-invert);;
		}
		
		&::-ms-input-placeholder { /* Microsoft Edge */
			color: var(--color-base-invert);;
		}		  
	}

	@media (max-width: $media-breakpoint-mobile) {
		&-wrapper {
			width: 100%;
		}
	}
}

.filter-wrapper {
	width: 14em;
	max-width: 100%;

	.filter-field-wrapper {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			right: 1em;
			transform: translateY(-50%);
			width: 0;
			height: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid var(--color-base-invert);
			transition: .2s ease-in-out;
			pointer-events: none;
		}
	}

	select {
		outline: none;
		padding: 0.5em 1em;
		font-size: var(--font-size-h6);
		border: 1px solid var(--color-base-invert);
		background-color: var(--color-base-light);	
		color: var(--color-base-invert);
		width: 100%;
		-webkit-appearance: none;
		line-height: 1.3;
	}

	@media (max-width: $media-breakpoint-mobile) {		
		width: 100%;		
	}
}

.tags-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	.list-item {
		margin-bottom: 0.5em;

		&:not(:last-child) {
			margin-right: 0.5em;
		}
	}

	.list-item-link {
		display: inline-block;
		color: var(--color-base-invert);
		background-color: var(--color-muted);
		font-size: var(--font-size-h6);
		line-height: 1;
		padding: 0.5em 1.375em;
		border-radius: var(--border-radius-large);
		transition: 0.25s ease-in-out;

		&:hover {
			background-color: var(--color-muted-light);
		}
	}
}

.nav-links {
	display: flex;
	width: fit-content;
	margin: 0 auto;

	.page-numbers {
		display: inline-block;
		font-size: 1.25em;
		line-height: 1;
		padding: 0.5em;
		color: var(--color-base-invert);
	}
}