.section-fullwidth {
	padding: 2em 0;
}

.section-heading {
	margin-top: 2em;
}

.section-jobs-preview {
	.search-form-wrapper {
		margin-right: var(--spacing-s);
	}

	.search-form-wrapper, .filter-wrapper {
		margin-bottom: var(--spacing-s);
	}

	.tags-list {
		margin-bottom: 0.75em;
	}

	@media (max-width: $media-breakpoint-mobile) {	
		.search-form-wrapper {
			margin-right: 0;
		}
	}
}